* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.back-container {
    position: relative;
    height: 753px;
    width: 100%;
    overflow: hidden;
}

.img-overlay {
    filter: blur(10px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 100%;
    min-height: 1017px;
    position: absolute;
    top: -35%;
    animation: change-back-img 6s infinite linear;
}


@keyframes change-back-img {
    0% {
        background: radial-gradient(50% 50% at 50% 50%, #ff8f3fbd 0%, #ff8f3fb0 100%), url("../images/Property-1.png");
        background-repeat: no-repeat;
        background-size: cover;
        transform: scale(1);
    }

    50% {
        background: radial-gradient(50% 50% at 50% 50%, #ff8f3fbd 0%, #ff8f3fb0 100%), url("../images/Property-2.png");
        background-repeat: no-repeat;
        background-size: cover;
        transform: scale(1.2);
    }

    100% {
        background: radial-gradient(50% 50% at 50% 50%, #ff8f3fbd 0%, #ff8f3fb0 100%), url("../images/Property-3.png");
        background-repeat: no-repeat;
        background-size: cover;
        transform: scale(1);
    }
}

.details {
    position: absolute;
    z-index: 5;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 30px;
    color: #FFF;
}

.sign-btn {
    padding: 8px 26px;
    border: 2px solid #FFFFFF;
    border-radius: 31px;
    font-weight: 600;
    font-size: 14px;
    color: #FFF;
    background: transparent;
}

.sign-btn:hover {
    border: 2px solid transparent;
    color: #FFF;
    background: #F37120;
    box-shadow: 0px 6px 40px #FBAD39;
}

.Enjoy h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 77px;
    letter-spacing: 0.015em;
    text-align: left;
}

.Enjoy p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.015em;
    color: #FFFFFF;
}

.Enjoy h5 {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 45px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FCFCFC;
    transform: rotate(90deg);
    margin-right: -56px;
}

.arrow {
    position: absolute;
    right: -25%;
    top: 0%;
    transform: rotate(270deg);
}

.fade-img {
    width: 500px;
    overflow: hidden;
}

.slider {
    background: #FFFFFF;
    box-shadow: 2px 2px 63px 5px rgb(0 0 0 / 20%);
    border-radius: 90px;
    width: 130px;
    height: 385px;
    overflow: hidden;
}

.slider .img-card {
    padding: 14px 15px;
    height: 128px;
    box-sizing: border-box;
    pointer-events: none;
    transform: scale(0.8);
}

.slider .slick-center {
    transform: scale(1.1);
    filter: drop-shadow(0px 8px 25px rgba(251, 149, 60, 0.9));
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.slider .img-card img {
    width: 100px;
}

.text1 h2 {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 4px;
    color: #FFF;
    margin-bottom: 0px;
}

.text1-h1 {
    max-width: 200px;
}

.text1 h1 {
    font-weight: 800;
    font-size: 24px;
    color: #FFF;
}

.text2 h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #FFF;
    margin-bottom: 10px;
}

.text2 {
    max-width: 265px;
}

.text2 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.015em;
    color: #FFF;
}

.text3 {
    max-width: 200px;
}

.text3 h2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 2px;
    color: #FFF;
    margin-bottom: 2px;
}

.text3 h1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    color: #FFF;
}